{
  "extends": ["standard", "prettier", "prettier/standard"],
  "rules": {
    "prefer-template": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
